*.exp
*.dll
*.lib
*.obj
*.plg
*.o
*.orig
*.exe
*.bak
build-stamp
fconf2aquaed
fconf2binkd
fconf2fidogate
fconf2golded
fconf2msged
fconf2squish
fconf2tornado
fecfg2fconf
libfidoconfig.so.1.9.*
linked
tparser
fidoconf-runtime.*
libfidoconf1.*
fidoconfig.html
*.vcxproj.user
build/
Build/
strace_out
cvsdate.h
