#   fconf2fidogate Configuration File (Sample)
#
#   !area    Do not gate area
#   -area    Do not set fido. before area
#
#   Wildcards (*,?) are supported
#
#   You have to edit this file and copy it to /etc/fido/fconf2fidogate.cfg

!syschat
!*sysop*
-local*
