Source: fidoconf
Section: libs
Priority: optional
Maintainer: Stanislav Maslovski <stanislav.maslovski@gmail.com>
Build-Depends: debhelper (>> 4.0.0), binutils, libsmapi2cur-dev (>> 2.5-0), libhusky-dev (>> 1.9-0), texinfo, huskybase (>> 2.0-0)
Standards-Version: 3.6.1

Package: libfidoconf1
Architecture: any
Depends: ${shlibs:Depends}
Replaces: libfidoconf0
Suggests: libfidoconf1-dev
Description: Library to access the fidoconfig
 The design goal of fidoconfig was to provide one config-file for several
 different fido software packages like editor, tosser etc.
 An additional aim was to have one library (fidoconfig) which can be used by
 all programs.
 The advantage is you only have to edit one config-file, so changing your
 system is much easier than with common software packages. Also bugs can only
 creep in one library and not in thousands over thousands libraries.

Package: libfidoconf1-dev
Section: libdevel
Architecture: any
Depends: libfidoconf1 (=${Source-Version}), libc6-dev, libsmapi2cur-dev (>> 2.5-0), huskybase (>> 2.0-0)
Replaces: libfidoconf0-dev
Conflicts: libfidoconf0-dev
Description: Library to access the fidoconfig, development files
 The design goal of fidoconfig was to provide one config-file for several
 different fido software packages like editor, tosser etc.
 An additional aim was to have one library (fidoconfig) which can be used by
 all programs.
 The advantage is you only have to edit one config-file, so changing your
 system is much easier than with common software packages. Also bugs can only
 creep in one library and not in thousands over thousands libraries.
 .
 This Package contains the Development Files. Only needed if you want to
 compile the Husky-Programs yourself

Package: fidoconf-runtime
Section: mail
Architecture: any
Depends: ${shlibs:Depends}
Description: Runtime-Files for the Fidoconf Library
 This Package contains Runtime Support Files for the Fidoconf Library.
 The Tools are:
   fconf2* - Convert between Fidoconf Configfile and some other formats.
   tparser - Check for errors in Fidoconf Config
   fecfg2fconf - Convert Fastecho.cfg to Fidoconf Config
   linkedto - Shows Areas a Address is linked to.
 
